html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    width: 1440px;
    padding: 0 13rem;

}
h1 {
font-size: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid grey;
}
ul {
    display: flex;
    list-style: none;
    width: 26rem;
    justify-content: space-between;
}