html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;


}
h1 {
font-size: 1.5rem;
}

.header, .hero-section {
  background-color: #1F2937;
  color: #f9faf8;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 13rem;

    /* border: 1px solid grey; */
}
ul {
    display: flex;
    list-style: none;
    width: 26rem;
    justify-content: space-between;
    font-size: 1rem;
}


/* Hero-section */
.hero-section {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 13rem 8rem 13rem;
  flex-wrap: wrap;
}

.hero-main {
  /* border: 1px solid grey; */
  width: 31rem;
  padding-right: 3rem;

}

.hero-main h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
.hero-main p {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 350;
}

.hero-main button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.hero-section img {
  width: 32rem;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 0.3rem;
}


/* 5 images with description */

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.3rem;
  text-align: justify;
  padding-bottom: 0;
  margin-bottom: 8rem;
}

.images h2 {
  margin-top: 3rem;
  margin-bottom: 0;

}
.five-images {
  display: flex;
  width: 10rem;
  gap: 3.3rem;
  align-items: center;
  justify-content: center;
}

.five-images  img {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.img p {
  color: #555656;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-align-last: center;
  width: 9rem;
}

/*  Content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem 5rem 0;
  font-size: 2.2rem;
  font-weight: lighter;
  font-style: italic;
  background-color: #e5e7eb;
}

.content p {
  margin: 0;
  padding: 0;
  
}

.content p:first-child {
  width: 49rem;
}
.content p:last-child {
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  align-self: center;
  margin-left: 30rem;
}

/* Call of Action */

.callOfaction {
  padding: 6.75rem 16rem;
  display: flex;
  justify-content: center;
}
.callOfaction-content {
  width: 64rem;
  height: 9.5rem;
  background-color: #3882f6;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.para p:first-child {
  font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.para p:last-child {
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.callOfaction-content button { 
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #f9faf8;
  cursor: pointer;
 } 

 .footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #1F2937;
    color: #f9faf8;
 }




